rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /farms/{farmId}/{document=**} {
      allow read: if request.auth != null && exists(/databases/$(database)/documents/farms/$(farmId)/users/$(request.auth.token.email));
      allow write: if request.auth != null && get(/databases/$(database)/documents/farms/$(farmId)/users/$(request.auth.token.email)).data.write == true;
    }
  }
}
